/*body style section*/
body{
    margin: 50px;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left top, yellow, lightblue, yellow);
    color: darkcyan;
}

/*container style section*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
    height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0.15);
    border-radius: 20px;
    padding-left: 20px;
    color: rgb(4, 156, 105);
    background: rgb(255, 255, 225, 0.3);
}

/*title style section*/
h1{
    font-size: 40px;
    font-family: monospace;
}

/*label style section*/
label{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    padding-right: 20px;
}

/*input style section*/
input{
    
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    background:  rgb(225, 225, 225, 0.3);
    border-color:  rgb(225, 225, 225, 0.5);
    color: rgb(4, 156, 105);
    outline: none;
}

/*p style section*/
p{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}