body{
    margin: 50px;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
    height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0.15);
    border-radius: 20px;
    padding-left: 20px;
    color: rgb(4, 156, 105);
}

h1{
    font-size: 40px;
    font-family: monospace;
}

label{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    padding-right: 20px;
}

input{
    font-size: 25px;
    height: 40px;
    border-radius: 10px;
}