body{
    margin: 50px;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0.15);
    border-radius: 20px;
}